@model Experts

<div class="container mt-5">
    <form class="forms-sample" method="post" asp-action="Edit">
        <div class="form-group">
            <label>Category</label>
            <input asp-for="Name" type="text" class="form-control" placeholder="Name" />
            <span class="text-danger" asp-validation-for="Name"></span>
            <input asp-for="Speciality" type="text" class="form-control" placeholder="Speciality" />
            <span class="text-danger" asp-validation-for="Speciality"></span>
        </div>
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <a asp-action="Index" class="btn btn-primary text-white">Back</a>
    </form>
</div>