@model CategoryDetailVM
@{
    ViewData["Title"] = "Detail";
}

<div class="container mt-5">
    <div class="form-group">
        <label>Category</label>
        <input asp-for="Name" type="text" class="form-control" disabled placeholder="Username" />
        @if(Model.ProductCount!=0){
        <h2>Product count:@Model.ProductCount</h2>
        }
    </div>
    <a asp-action="Index" class="btn btn-primary text-white">Back</a>
</div>