@model BlogDetailVM
<div class="card col-md-6 col-lg-4 container mt-5 " style="width: 18rem;">
    <img class="card-img-top" src="~/assets/img/@Model.Image">
    <div class="card-body text-center">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Description</p>
        <a href="#" class="btn btn-primary">@Model.Date.ToString()</a>
    </div>
    <a asp-action="Index" class="btn btn-primary text-white">Back</a>
</div>
